/* NavBar  */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  z-index: -1;
  padding: 10px;
}

.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin-right: 20px;
  transition-duration: 0.5s;
}
/* DropDown Button */
.btn {
  margin-top: 5px;
  background-color: transparent;
  color: var(--primary-text);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary-text);
  padding: 10px;
  background-color: var(--primary-bg);
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: var(--secondary-bg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.searchBar {
  background-color: var(--secondary-bg);
  display: flex;
  padding: 3px;
}
/* SearchBar */
#searchBar {
  background-color: var(--secondary-bg);
  border: none;
  color: var(--primary-text);
  padding: 3px;
  font-size: 1rem;
  margin: auto;
  width: 90%;
}
#searchBtn {
  width: 38px;
  height: 38px;
}
#searchBar:focus {
  outline: 0;
}
