:root {
  --primary-bg: #120f1a;
  --secondary-bg: #292630;
  --primary-text: #d7e1ec;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
#root {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}
